@model IEnumerable<DeoClick.Models.Estados>

@{
    ViewData["Title"] = "Estado";
}

<h1 style="color:crimson">Lista de Estados</h1>

<p>
    <a asp-action="Create">Cadastrar Novo Estado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Descrição</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
