@model DeoClick.Models.Anuncio

@{
    ViewData["Title"] = "Deletar Anúncio";
}
<div>
    <a asp-action="Index">Voltar</a>
</div>
<br />

<h1 style="color:red;">Deletar</h1>

<h3>Você tem certeza que quer deletar esse anúncio?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nomeAnuncio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomeAnuncio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tipoAnuncio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tipoAnuncio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.valorAnuncio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.valorAnuncio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FotoAnuncio)
        </dt>
        <dd class="col-sm-10">
            <img class="img-fluid" src="@(System.IO.File.Exists(ViewData["CaminhoFoto"] + Model.FotoAnuncio) ?
                                    Url.Content(Model.FotoAnuncio) : Url.Content("~/images/NoPhoto.png"))" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.nomeCliente)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Deletar Anúncio" class="btn btn-danger" /> |
    </form>
</div>
